<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fbee.modules.mybatis.dao.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.fbee.modules.mybatis.model.Orders">
        <id column="ORDER_NO" jdbcType="VARCHAR" property="orderNo"/>
        <result column="TENANT_ID" jdbcType="INTEGER" property="tenantId"/>
        <result column="MEMBER_ID" jdbcType="INTEGER" property="memberId"/>
        <result column="AMOUNT" jdbcType="DECIMAL" property="amount"/>
        <result column="ORDER_TIME" jdbcType="TIMESTAMP" property="orderTime"/>
        <result column="ORDER_STATUS" jdbcType="VARCHAR" property="orderStatus"/>
        <result column="SERVICE_ITEM_CODE" jdbcType="VARCHAR" property="serviceItemCode"/>
        <result column="STAFF_ID" jdbcType="INTEGER" property="staffId"/>
        <result column="ORDER_SOURCE" jdbcType="VARCHAR" property="orderSource"/>
        <result column="ORDER_DEPOSIT" jdbcType="DECIMAL" property="orderDeposit"/>
        <result column="ORDER_BALANCE" jdbcType="DECIMAL" property="orderBalance"/>
        <result column="DEPOSIT_DATE" jdbcType="TIMESTAMP" property="depositDate"/>
        <result column="IDEPOSIT_OVER" jdbcType="VARCHAR" property="idepositOver"/>
        <result column="IS_INTERVIEW" jdbcType="VARCHAR" property="isInterview"/>
        <result column="PASS_VIEW_DATE" jdbcType="TIMESTAMP" property="passViewDate"/>
        <result column="BALANCE_DATE" jdbcType="TIMESTAMP" property="balanceDate"/>
        <result column="IS_LOCK" jdbcType="VARCHAR" property="isLock"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="add_account" jdbcType="VARCHAR" property="addAccount"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="modify_account" jdbcType="VARCHAR" property="modifyAccount"/>
        <result column="RESERVE_ORDER_NO" jdbcType="VARCHAR" property="reserveOrderNo"/>
        <result column="ORDER_TYPE" jdbcType="VARCHAR" property="orderType"/>
        <result column="MEMBER_MOBILE" jdbcType="VARCHAR" property="memberMobile"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="SHARE_ORDER_NO" jdbcType="VARCHAR" property="shareOrderNo"/>
        <result column="BALANCE_OVER" jdbcType="VARCHAR" property="balanceOver"/>
        <result column="is_usable" jdbcType="VARCHAR" property="isUsable"/>
        <result column="CANCLE_REASON" jdbcType="VARCHAR" property="cancleReason"/>
        <result column="SERVICE_CHARGE" jdbcType="DECIMAL" property="serviceCharge"/>
        <result column="TOTAL_PRICE" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="is_published_job" jdbcType="INTEGER" property="isPublishedJob"/>
        <result column="is_local_staff" jdbcType="INTEGER" property="isLocalStaff"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>

    <resultMap id="OrderWithStaffResultMap" extends="BaseResultMap" type="com.fbee.modules.mybatis.entity.OrdersEntity">
        <association property="staffInfo" column="STAFF_ID" javaType="com.fbee.modules.mybatis.model.StaffSnapShotInfo"
                     select="com.fbee.modules.mybatis.dao.TenantsStaffsInfoMapper.getSnapshotById" />
        <association property="orderCustomer" column="ORDER_NO" javaType="com.fbee.modules.mybatis.model.OrderCustomersInfo"
                     select="com.fbee.modules.mybatis.dao.OrderCustomersInfoMapper.selectByPrimaryKey" />
        <association property="tenantInfo" column="TENANT_ID" javaType="com.fbee.modules.mybatis.model.TenantsSnapshotInfo"
                     select="com.fbee.modules.mybatis.dao.TenantsAppsMapper.getSnapshotById" />
    </resultMap>

    <sql id="Example_Where_Clause">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        ORDER_NO, TENANT_ID, MEMBER_ID, ifnull(AMOUNT,0) "AMOUNT", ORDER_TIME, ORDER_STATUS, SERVICE_ITEM_CODE,
        STAFF_ID, ORDER_SOURCE, ifnull(ORDER_DEPOSIT,0) ORDER_DEPOSIT, ifnull(ORDER_BALANCE,0) "ORDER_BALANCE",
        DEPOSIT_DATE, IDEPOSIT_OVER,
        IS_INTERVIEW, PASS_VIEW_DATE, BALANCE_DATE, IS_LOCK, add_time, add_account, modify_time,
        modify_account, RESERVE_ORDER_NO, ORDER_TYPE, MEMBER_MOBILE, REMARK, SHARE_ORDER_NO, is_published_job,
        is_local_staff,user_id,
        BALANCE_OVER, is_usable, CANCLE_REASON,amount, service_charge, ifnull(AMOUNT,0)+ifnull(SERVICE_CHARGE,0) "TOTAL_PRICE"
    </sql>
    <select id="selectByExample" parameterType="com.fbee.modules.mybatis.model.OrdersExample" resultMap="BaseResultMap">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from orders
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        select
        <include refid="Base_Column_List"/>
        from orders
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        delete from orders
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.fbee.modules.mybatis.model.OrdersExample">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        delete from orders
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.fbee.modules.mybatis.model.Orders">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        insert into orders (ORDER_NO, TENANT_ID, MEMBER_ID,
        AMOUNT, ORDER_TIME, ORDER_STATUS,
        SERVICE_ITEM_CODE, STAFF_ID, ORDER_SOURCE,
        ORDER_DEPOSIT, ORDER_BALANCE, DEPOSIT_DATE,
        IDEPOSIT_OVER, IS_INTERVIEW, PASS_VIEW_DATE,
        BALANCE_DATE, IS_LOCK, add_time,
        add_account, modify_time, modify_account,
        RESERVE_ORDER_NO, ORDER_TYPE, MEMBER_MOBILE,
        REMARK, SHARE_ORDER_NO, BALANCE_OVER,
        is_usable, CANCLE_REASON, order_time)
        values (#{orderNo,jdbcType=VARCHAR}, #{tenantId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER},
        #{amount,jdbcType=DECIMAL}, #{orderTime,jdbcType=TIMESTAMP}, #{orderStatus,jdbcType=VARCHAR},
        #{serviceItemCode,jdbcType=VARCHAR}, #{staffId,jdbcType=INTEGER}, #{orderSource,jdbcType=VARCHAR},
        #{orderDeposit,jdbcType=DECIMAL}, #{orderBalance,jdbcType=DECIMAL}, #{depositDate,jdbcType=TIMESTAMP},
        #{idepositOver,jdbcType=VARCHAR}, #{isInterview,jdbcType=VARCHAR}, #{passViewDate,jdbcType=TIMESTAMP},
        #{balanceDate,jdbcType=TIMESTAMP}, #{isLock,jdbcType=VARCHAR}, now(),
        #{addAccount,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyAccount,jdbcType=VARCHAR},
        #{reserveOrderNo,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, #{memberMobile,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR}, #{shareOrderNo,jdbcType=VARCHAR}, #{balanceOver,jdbcType=VARCHAR},
        #{isUsable,jdbcType=VARCHAR}, #{cancleReason,jdbcType=VARCHAR},#{orderTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.fbee.modules.mybatis.model.Orders">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                ORDER_NO,
            </if>
            <if test="tenantId != null">
                TENANT_ID,
            </if>
            <if test="memberId != null">
                MEMBER_ID,
            </if>
            <if test="amount != null">
                AMOUNT,
            </if>
            <if test="orderTime != null">
                ORDER_TIME,
            </if>
            <if test="orderStatus != null">
                ORDER_STATUS,
            </if>
            <if test="serviceItemCode != null">
                SERVICE_ITEM_CODE,
            </if>
            <if test="staffId != null">
                STAFF_ID,
            </if>
            <if test="orderSource != null">
                ORDER_SOURCE,
            </if>
            <if test="orderDeposit != null">
                ORDER_DEPOSIT,
            </if>
            <if test="orderBalance != null">
                ORDER_BALANCE,
            </if>
            <if test="depositDate != null">
                DEPOSIT_DATE,
            </if>
            <if test="idepositOver != null">
                IDEPOSIT_OVER,
            </if>
            <if test="isInterview != null">
                IS_INTERVIEW,
            </if>
            <if test="passViewDate != null">
                PASS_VIEW_DATE,
            </if>
            <if test="balanceDate != null">
                BALANCE_DATE,
            </if>
            <if test="isLock != null">
                IS_LOCK,
            </if>
            add_time,
            <if test="addAccount != null">
                add_account,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="modifyAccount != null">
                modify_account,
            </if>
            <if test="reserveOrderNo != null">
                RESERVE_ORDER_NO,
            </if>
            <if test="orderType != null">
                ORDER_TYPE,
            </if>
            <if test="memberMobile != null">
                MEMBER_MOBILE,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="shareOrderNo != null">
                SHARE_ORDER_NO,
            </if>
            <if test="balanceOver != null">
                BALANCE_OVER,
            </if>
            <if test="isUsable != null">
                is_usable,
            </if>
            <if test="cancleReason != null">
                CANCLE_REASON,
            </if>
            <if test="stafffSerItemId != null">
                STAFFF_SER_ITEM_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="orderTime != null">
                #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="serviceItemCode != null">
                #{serviceItemCode,jdbcType=VARCHAR},
            </if>
            <if test="staffId != null">
                #{staffId,jdbcType=INTEGER},
            </if>
            <if test="orderSource != null">
                #{orderSource,jdbcType=VARCHAR},
            </if>
            <if test="orderDeposit != null">
                #{orderDeposit,jdbcType=DECIMAL},
            </if>
            <if test="orderBalance != null">
                #{orderBalance,jdbcType=DECIMAL},
            </if>
            <if test="depositDate != null">
                #{depositDate,jdbcType=TIMESTAMP},
            </if>
            <if test="idepositOver != null">
                #{idepositOver,jdbcType=VARCHAR},
            </if>
            <if test="isInterview != null">
                #{isInterview,jdbcType=VARCHAR},
            </if>
            <if test="passViewDate != null">
                #{passViewDate,jdbcType=TIMESTAMP},
            </if>
            <if test="balanceDate != null">
                #{balanceDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isLock != null">
                #{isLock,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="addAccount != null">
                #{addAccount,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyAccount != null">
                #{modifyAccount,jdbcType=VARCHAR},
            </if>
            <if test="reserveOrderNo != null">
                #{reserveOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=VARCHAR},
            </if>
            <if test="memberMobile != null">
                #{memberMobile,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="shareOrderNo != null">
                #{shareOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="balanceOver != null">
                #{balanceOver,jdbcType=VARCHAR},
            </if>
            <if test="isUsable != null">
                #{isUsable,jdbcType=VARCHAR},
            </if>
            <if test="cancleReason != null">
                #{cancleReason,jdbcType=VARCHAR},
            </if>
            <if test="stafffSerItemId != null">
                #{stafffSerItemId},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.fbee.modules.mybatis.model.OrdersExample"
            resultType="java.lang.Integer">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        select count(*) from orders
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        update orders
        <set>
            <if test="record.orderNo != null">
                ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
            </if>
            <if test="record.tenantId != null">
                TENANT_ID = #{record.tenantId,jdbcType=INTEGER},
            </if>
            <if test="record.memberId != null">
                MEMBER_ID = #{record.memberId,jdbcType=INTEGER},
            </if>
            <if test="record.amount != null">
                AMOUNT = #{record.amount,jdbcType=DECIMAL},
            </if>
            <if test="record.orderTime != null">
                ORDER_TIME = #{record.orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.orderStatus != null">
                ORDER_STATUS = #{record.orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.serviceItemCode != null">
                SERVICE_ITEM_CODE = #{record.serviceItemCode,jdbcType=VARCHAR},
            </if>
            <if test="record.staffId != null">
                STAFF_ID = #{record.staffId,jdbcType=INTEGER},
            </if>
            <if test="record.orderSource != null">
                ORDER_SOURCE = #{record.orderSource,jdbcType=VARCHAR},
            </if>
            <if test="record.orderDeposit != null">
                ORDER_DEPOSIT = #{record.orderDeposit,jdbcType=DECIMAL},
            </if>
            <if test="record.orderBalance != null">
                ORDER_BALANCE = #{record.orderBalance,jdbcType=DECIMAL},
            </if>
            <if test="record.depositDate != null">
                DEPOSIT_DATE = #{record.depositDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.idepositOver != null">
                IDEPOSIT_OVER = #{record.idepositOver,jdbcType=VARCHAR},
            </if>
            <if test="record.isInterview != null">
                IS_INTERVIEW = #{record.isInterview,jdbcType=VARCHAR},
            </if>
            <if test="record.passViewDate != null">
                PASS_VIEW_DATE = #{record.passViewDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.balanceDate != null">
                BALANCE_DATE = #{record.balanceDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isLock != null">
                IS_LOCK = #{record.isLock,jdbcType=VARCHAR},
            </if>
            <if test="record.addTime != null">
                add_time = #{record.addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.addAccount != null">
                add_account = #{record.addAccount,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyTime != null">
                modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.modifyAccount != null">
                modify_account = #{record.modifyAccount,jdbcType=VARCHAR},
            </if>
            <if test="record.reserveOrderNo != null">
                RESERVE_ORDER_NO = #{record.reserveOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="record.orderType != null">
                ORDER_TYPE = #{record.orderType,jdbcType=VARCHAR},
            </if>
            <if test="record.memberMobile != null">
                MEMBER_MOBILE = #{record.memberMobile,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null">
                REMARK = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.shareOrderNo != null">
                SHARE_ORDER_NO = #{record.shareOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="record.balanceOver != null">
                BALANCE_OVER = #{record.balanceOver,jdbcType=VARCHAR},
            </if>
            <if test="record.isUsable != null">
                is_usable = #{record.isUsable,jdbcType=VARCHAR},
            </if>
            <if test="record.cancleReason != null">
                CANCLE_REASON = #{record.cancleReason,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        update orders
        set ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
        TENANT_ID = #{record.tenantId,jdbcType=INTEGER},
        MEMBER_ID = #{record.memberId,jdbcType=INTEGER},
        AMOUNT = #{record.amount,jdbcType=DECIMAL},
        ORDER_TIME = #{record.orderTime,jdbcType=TIMESTAMP},
        ORDER_STATUS = #{record.orderStatus,jdbcType=VARCHAR},
        SERVICE_ITEM_CODE = #{record.serviceItemCode,jdbcType=VARCHAR},
        STAFF_ID = #{record.staffId,jdbcType=INTEGER},
        ORDER_SOURCE = #{record.orderSource,jdbcType=VARCHAR},
        ORDER_DEPOSIT = #{record.orderDeposit,jdbcType=DECIMAL},
        ORDER_BALANCE = #{record.orderBalance,jdbcType=DECIMAL},
        DEPOSIT_DATE = #{record.depositDate,jdbcType=TIMESTAMP},
        IDEPOSIT_OVER = #{record.idepositOver,jdbcType=VARCHAR},
        IS_INTERVIEW = #{record.isInterview,jdbcType=VARCHAR},
        PASS_VIEW_DATE = #{record.passViewDate,jdbcType=TIMESTAMP},
        BALANCE_DATE = #{record.balanceDate,jdbcType=TIMESTAMP},
        IS_LOCK = #{record.isLock,jdbcType=VARCHAR},
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
        add_account = #{record.addAccount,jdbcType=VARCHAR},
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
        modify_account = #{record.modifyAccount,jdbcType=VARCHAR},
        RESERVE_ORDER_NO = #{record.reserveOrderNo,jdbcType=VARCHAR},
        ORDER_TYPE = #{record.orderType,jdbcType=VARCHAR},
        MEMBER_MOBILE = #{record.memberMobile,jdbcType=VARCHAR},
        REMARK = #{record.remark,jdbcType=VARCHAR},
        SHARE_ORDER_NO = #{record.shareOrderNo,jdbcType=VARCHAR},
        BALANCE_OVER = #{record.balanceOver,jdbcType=VARCHAR},
        is_usable = #{record.isUsable,jdbcType=VARCHAR},
        CANCLE_REASON = #{record.cancleReason,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.fbee.modules.mybatis.model.Orders">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Mar 01 14:54:06 CST 2017.
        -->
        update orders
        <set>
            <if test="tenantId != null">
                TENANT_ID = #{tenantId,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                MEMBER_ID = #{memberId,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                AMOUNT = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="orderTime != null">
                ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderStatus != null">
                ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="serviceItemCode != null">
                SERVICE_ITEM_CODE = #{serviceItemCode,jdbcType=VARCHAR},
            </if>
            <if test="staffId != null">
                STAFF_ID = #{staffId,jdbcType=INTEGER},
            </if>
            <if test="orderSource != null">
                ORDER_SOURCE = #{orderSource,jdbcType=VARCHAR},
            </if>
            <if test="orderDeposit != null">
                ORDER_DEPOSIT = #{orderDeposit,jdbcType=DECIMAL},
            </if>
            <if test="orderBalance != null">
                ORDER_BALANCE = #{orderBalance,jdbcType=DECIMAL},
            </if>
            <if test="depositDate != null">
                DEPOSIT_DATE = #{depositDate,jdbcType=TIMESTAMP},
            </if>
            <if test="idepositOver != null">
                IDEPOSIT_OVER = #{idepositOver,jdbcType=VARCHAR},
            </if>
            <if test="isInterview != null">
                IS_INTERVIEW = #{isInterview,jdbcType=VARCHAR},
            </if>
            <if test="passViewDate != null">
                PASS_VIEW_DATE = #{passViewDate,jdbcType=TIMESTAMP},
            </if>
            <if test="balanceDate != null">
                BALANCE_DATE = #{balanceDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isLock != null">
                IS_LOCK = #{isLock,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addAccount != null">
                add_account = #{addAccount,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyAccount != null">
                modify_account = #{modifyAccount,jdbcType=VARCHAR},
            </if>
            <if test="reserveOrderNo != null">
                RESERVE_ORDER_NO = #{reserveOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
            </if>
            <if test="memberMobile != null">
                MEMBER_MOBILE = #{memberMobile,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="shareOrderNo != null">
                SHARE_ORDER_NO = #{shareOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="balanceOver != null">
                BALANCE_OVER = #{balanceOver,jdbcType=VARCHAR},
            </if>
            <if test="isUsable != null">
                is_usable = #{isUsable,jdbcType=VARCHAR},
            </if>
            <if test="cancleReason != null">
                CANCLE_REASON = #{cancleReason,jdbcType=VARCHAR},
            </if>
        </set>
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fbee.modules.mybatis.model.Orders">
        update orders
        set TENANT_ID = #{tenantId,jdbcType=INTEGER},
        MEMBER_ID = #{memberId,jdbcType=INTEGER},
        AMOUNT = #{amount,jdbcType=DECIMAL},
        ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
        SERVICE_ITEM_CODE = #{serviceItemCode,jdbcType=VARCHAR},
        STAFF_ID = #{staffId,jdbcType=INTEGER},
        ORDER_SOURCE = #{orderSource,jdbcType=VARCHAR},
        ORDER_DEPOSIT = #{orderDeposit,jdbcType=DECIMAL},
        ORDER_BALANCE = #{orderBalance,jdbcType=DECIMAL},
        DEPOSIT_DATE = #{depositDate,jdbcType=TIMESTAMP},
        IDEPOSIT_OVER = #{idepositOver,jdbcType=VARCHAR},
        IS_INTERVIEW = #{isInterview,jdbcType=VARCHAR},
        PASS_VIEW_DATE = #{passViewDate,jdbcType=TIMESTAMP},
        BALANCE_DATE = #{balanceDate,jdbcType=TIMESTAMP},
        IS_LOCK = #{isLock,jdbcType=VARCHAR},
        add_time = #{addTime,jdbcType=TIMESTAMP},
        add_account = #{addAccount,jdbcType=VARCHAR},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
        modify_account = #{modifyAccount,jdbcType=VARCHAR},
        RESERVE_ORDER_NO = #{reserveOrderNo,jdbcType=VARCHAR},
        ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
        MEMBER_MOBILE = #{memberMobile,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        SHARE_ORDER_NO = #{shareOrderNo,jdbcType=VARCHAR},
        BALANCE_OVER = #{balanceOver,jdbcType=VARCHAR},
        is_usable = #{isUsable,jdbcType=VARCHAR},
        CANCLE_REASON = #{cancleReason,jdbcType=VARCHAR}
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </update>


    <select id="getOrder" parameterType="java.lang.String" resultType="java.util.Map">
        select
        a.ORDER_NO,
        a.TENANT_ID,
        a.MEMBER_ID,
        a.AMOUNT,
        DATE_FORMAT(a.ORDER_TIME,'%Y-%m-%d %H:%i:%s') "ORDER_TIME",
        a.ORDER_STATUS,
        a.SERVICE_ITEM_CODE,
        a.STAFFF_SER_ITEM_ID,
        a.STAFF_ID,
        a.ORDER_SOURCE,
        a.ORDER_DEPOSIT,
        a.ORDER_BALANCE,
        DATE_FORMAT(a.DEPOSIT_DATE,'%Y-%m-%d %H:%i:%s') "DEPOSIT_DATE",
        a.IDEPOSIT_OVER,
        a.IS_INTERVIEW,
        DATE_FORMAT(a.PASS_VIEW_DATE,'%Y-%m-%d %H:%i:%s') "PASS_VIEW_DATE",
        DATE_FORMAT(a.BALANCE_DATE,'%Y-%m-%d %H:%i:%s') "BALANCE_DATE",IS_LOCK,
        DATE_FORMAT(a.add_time,'%Y-%m-%d %H:%i:%s') "add_time",
        a.add_account,
        DATE_FORMAT(a.modify_time,'%Y-%m-%d %H:%i:%s') "modify_time",
        a.modify_account,
        a.RESERVE_ORDER_NO,
        a.ORDER_TYPE,
        a.MEMBER_MOBILE,
        a.REMARK,
        a.CANCLE_REASON,
        a.SHARE_ORDER_NO,
        a.BALANCE_OVER,
        ifnull(a.SERVICE_CHARGE,0.00) "SERVICE_CHARGE",
        b.SERVICE_PRICE_UNIT "servicePriceUnit"
        from
        orders a ,
        tenants_service_items b
        where
        a.ORDER_NO=#{orderNo}
        AND a.TENANT_ID = b.TENANT_ID
        AND a.SERVICE_ITEM_CODE = b.SERVICE_ITEM_CODE
    </select>

    <update id="updateStatus" parameterType="java.util.Map">

        <if test="orderStatus == 01">
            update orders
            set ORDER_STATUS='02',IDEPOSIT_OVER='02',DEPOSIT_DATE=#{depositDate}
            where ORDER_NO = #{outTradeNo}
        </if>
        <if test="orderStatus == 03">
            update orders
            set ORDER_STATUS='04',BALANCE_OVER='02',BALANCE_DATE=#{depositDate}
            where ORDER_NO = #{outTradeNo}
        </if>
    </update>

    <update id="updateCommonStatus" parameterType="java.util.Map">
        update orders
        set ORDER_STATUS= #{orderStatus}
        where ORDER_NO = #{orderNo}
    </update>

    <select id="getOrdersCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1)
        from orders
        where MEMBER_ID=#{memberid}
        <if test="orderstatus == 01">
            and (ORDER_STATUS = 01 or ORDER_STATUS = 03)
        </if>
        <if test="orderstatus == 02">
            and ORDER_STATUS = 02
        </if>
        <if test="orderstatus == 03">
            and ORDER_STATUS = 04
        </if>
        <if test="orderstatus == 04">
            and ORDER_STATUS = 05
        </if>
        and ORDER_SOURCE != 03
    </select>

    <select id="getOrdersList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from orders
        where MEMBER_ID=#{memberid}
        <if test="orderstatus == 01">
            and (ORDER_STATUS = 01 or ORDER_STATUS = 03)
        </if>
        <if test="orderstatus == 02">
            and ORDER_STATUS = 02
        </if>
        <if test="orderstatus == 03">
            and ORDER_STATUS = 04
        </if>
        <if test="orderstatus == 04">
            and ORDER_STATUS = 05
        </if>
        and ORDER_SOURCE != 03
        order by ORDER_TIME DESC
        limit #{pageNumber},#{pageSize}
    </select>


    <select id="getOrdersWithStaffList" parameterType="java.util.Map" resultMap="OrderWithStaffResultMap">
        select
        <include refid="Base_Column_List"/>
        from orders
        where MEMBER_ID=#{memberid}
        <if test="orderstatus == 01">
            and (ORDER_STATUS = 01 or ORDER_STATUS = 03)
        </if>
        <if test="orderstatus == 02">
            and ORDER_STATUS = 02
        </if>
        <if test="orderstatus == 03">
            and ORDER_STATUS = 04
        </if>
        <if test="orderstatus == 04">
            and ORDER_STATUS = 05
        </if>
        and ORDER_SOURCE != 03
        order by ORDER_TIME DESC
        limit #{pageNumber},#{pageSize}
    </select>
    <select id="getWithStaffByNo" parameterType="java.lang.String" resultMap="OrderWithStaffResultMap">
        select
        <include refid="Base_Column_List"/>
        from orders
        where order_no=#{orderNo}
    </select>



    <!-- 取消订单 -->
    <update id="cancelOrder" parameterType="java.util.Map">
        update orders
        <set>
            <if test="orderStatus != null and orderStatus!=''">
                ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="cancleReason != null and cancleReason!=''">
                CANCLE_REASON = #{cancleReason,jdbcType=VARCHAR},
            </if>
            <if test="modifyAccount != null and modifyAccount!=''">
                modify_account = #{modifyAccount,jdbcType=VARCHAR},
            </if>
            modify_time = now()
        </set>
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </update>
</mapper>